<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <clover outputFile="tests/coverage.xml"/>
      <html outputDirectory="tests/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="All tests">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <env name="FTP_ADAPTER_PROTOCOL" value="ftp"/>
    <env name="FTP_ADAPTER_HOST" value="127.0.0.1"/>
    <env name="FTP_ADAPTER_USER" value="ftpuser"/>
    <env name="FTP_ADAPTER_PASSWORD" value="password"/>
  </php>
</phpunit>
